.homepage-container {
    width: 100%;
}

.filter {
    margin: 0;
    margin-left: 0.5rem;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
}

.view-all {
    background-color: var(--elevation-200);
    border: 0;
    color: var(--typograph-high);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.view-all:hover {
    background-color: var(--elevation-300);
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.posts a {
    width: 100%;
}

@media (max-width: 768px) {
    .posts-header {
        padding-bottom: 0.7rem;
    }
    
    .filter,
    .view-all {
        font-size: 1.2rem;
    }

    .view-all {
        padding: 11px 14px;
    }
}