.category-navbar {
    width: 100%;
    padding: 3rem 0;
}

.category-navbar nav {
    display: flex;
    gap: 10rem;
    justify-content: center;
}

.category-navbar a {
    position: relative;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--typography-medium);
    font-size: 1.8rem;
}

.category-navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--typography-high);
    transform-origin: bottom right;
    transition: transform 0.35s ease-in-out;
}
  
.category-navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 768px) {
    .category-navbar {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        margin-bottom: 0.4rem;
    }

    .category-navbar nav {
        flex-wrap: wrap;
        gap: 0.7rem;
    }

    .category-navbar a {
        font-size: 1.25rem;
        padding: 0.2rem;
    }
}