.create-post-container {
    width: 100%;
}

.create-post-container .image {
    display: flex;
    overflow: hidden;
    min-height: 13rem;
    position: relative;
    z-index: -2;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.create-post-container .image img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.create-post-container .image .overlay-box {
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 10px;
    padding: 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block
}

.create-post-container .image h1 {
    margin: 0;
    color: var(--typography-medium);
    text-align: center;
}

.create-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form .quill {
    width: 100%;
    margin-bottom: 2rem;
}

.create-button {
    background-color: var(--elevation-200);
    border: 0;
    color: var(--typography-high);
    border-radius: 30px;
    padding: 0.9rem 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    display: inline-block;
}

.create-button:hover {
    background-color: var(--elevation-300);
}

.create-form input, 
.create-form select {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    width: 100%;
    padding: 5px 7px;
    border: 1px solid var(--elevation-600);
    border-radius: 5px;
    background-color: #fffffd;
    font-size: 1.3rem;
    color: var(--elevation-200);
}

.create-form select {
    color: var(--elevation-600);
    cursor: pointer;
}

.create-form input:focus {
    outline: none;
}

.create-form input[type=file] {
    color: var(--elevation-600);
    cursor: pointer;
}

.create-form input[type=file]::file-selector-button {
    background-color: var(--elevation-400);
    border: 0;
    color: var(--typography-high);
    border-radius: 10px;
    padding: 7px 10px;
    margin-right: 0.75rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.create-form input[type=file]::file-selector-button:hover {
    transition: background-color 0.5s ease;
    background-color: var(--elevation-500);
}

@media (max-width: 768px) {
    .create-post-container .image {
        min-height: 6rem;
    }

    .create-post-container .title {
        font-size: 2rem;
    }

    .create-post-container .image .overlay-box {
        padding: 0.4rem 0.5rem;
    }

    .create-post-container .image h1 {
        font-size: 1.4rem;
    }

    .create-button {
        font-size: 1.1rem;
        
    }
}
