.post {
    display: flex;
    gap: 20px;
    padding: 1rem;
    background-color: var(--elevation-150);
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.post:hover {
    background-color: var(--elevation-300);
    cursor: pointer;
}

.post .title {
    margin: 0;
    font-size: 2rem;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: center center;
}

.post .image img {
    max-width: 20rem;
    max-height: 20rem;
}

.post .text {
    max-width: 75%;
    height: auto;
    overflow: hidden;
}

.post .glimpse {
    overflow: hidden;
    max-height: 15rem;
    text-overflow: ellipsis;
}

.post .glimpse p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--typography-medium);
    line-height: 1.75rem;
    font-size: 1.4rem;
}

.post .info {
    margin: 0.5rem 0;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.post .info .category,
.post .info time {
    margin: 0;
    color: var(--typography-disabled);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;    
}

@media (max-width: 768px) {
    .post {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        height: 32rem;
    }

    .post .title {
        font-size: 1.5rem;
    }

    .post .text {
        max-width: 100%;
        max-height: 100%;
    }

    .post .glimpse {
        height: 35%;
    }

    .post .image,
    .post .text {
        margin: 0;
        text-align: center;
    }

    .post .image img {
        max-width: 100%;
        max-height: 100%;
    }

    .post .text .info {
        margin-top: 0;
        margin-bottom: 0.3rem;
        justify-content: center;
        gap: 0.1rem;
        flex-direction: column;
    }

    .post .text .info time {
        font-size: 1rem;
    }

    .post .glimpse p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}
