.divinity-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divinity-info > .title,
.divinity-info > .about {
    margin-top: 0;
    text-align: center;
}

.divinity-info > .title {
    margin-bottom: 0.5rem;
}

.divinity-info > .about {
    color: var(--typography-medium);
    margin-bottom: 1rem;
}

.divinity-pantheon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divinity-pantheon .tier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}

.divinity-pantheon .tier-link {
    margin-top: 1rem;
}

.divinity-pantheon .tier-image {
    width: 50rem;
    height: 10rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divinity-pantheon .tier-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.divinity-pantheon .tier-image img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

.divinity-pantheon .tier-text {
    position: absolute;
    color: var(--typography-light);
    font-size: 1.75rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-shadow: 1px 1px 2px black;
    pointer-events: none;
    text-align: center;
}

.divinity-pantheon .tier-image:hover .tier-text {
    opacity: 1;
}

@media (max-width: 768px) {
    .divinity-info > .title {
        font-size: 1.8rem;
    }

    .divinity-info > .about {
        font-size: 1.3rem;
    }

    .divinity-pantheon .tier {
        font-size: 1.75rem;
        margin-bottom: 0;
    }
    
    .divinity-pantheon .tier-link {
        width: 90%;
        display: flex;
    }

    .divinity-pantheon .tier-image {
        height: 6rem;
    }

    .divinity-pantheon .tier-text {
        font-size: 1.5rem;
        opacity: 0.8;
    }
}