.category-container > .title,
.category-container > .about {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.category-container > .about {
    margin-bottom: 2rem;
    color: var(--typography-medium)
}

@media (max-width: 768px) {
    .category-container > .title {
        font-size: 1.8rem;
    }

    .category-container > .about {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}