.category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category-container > .title,
.category-container > .about {
    margin-top: 0;
    text-align: center;
}

.category-container > .title {
    margin-bottom: 0.5rem;
}

.category-container > .about {
    color: var(--typography-medium);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .category-container > .title {
        font-size: 1.8rem;
    }

    .category-container > .about {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}