.magic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.magic-info > .title,
.magic-info > .about {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.magic-info > .about {
    margin-bottom: 2rem;
    color: var(--typography-medium);
}

.magic-square {
    width: 95%;
    height: 55rem;
    position: relative;
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    overflow: hidden;
    background-size: 200% 200%; /* Start with the image scaled up */
    background-position: center;
    transition: all 0.2s ease-in-out;  /* Transition for scaling and background reveal */
}

.quarter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.quarter:hover img {
    transform: scale(1.1); 
    opacity: 0.5;
}

.magic-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--typography-light);
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-shadow: 1px 1px 2px black;
}

.quarter:hover .magic-text {
    opacity: 1;
}

/* Top-left triangle */
.top-left {
    top: 0;
    left: 0;
}

/* Top-right triangle */
.top-right {
    top: 0;
    right: 0;
}

/* Bottom-left triangle */
.bottom-left {
    bottom: 0;
    left: 0;
}

/* Bottom-right triangle */
.bottom-right {
    bottom: 0;
    right: 0;
}


@media (max-width: 768px) {
    .magic-square {
        height: 20rem;
    }

    .magic-info > .title {
        font-size: 1.8rem;
    }

    .magic-info > .about {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .magic-text {
        font-size: 1.2rem;
        opacity: 0.8;
    }
}