.post-page {
    width: 100%;
}

.post-page .image {
    display: flex;
    overflow: hidden;
    min-height: 13rem;
    position: relative;
    z-index: -2;
    justify-content: center;
    align-items: center;
}

.post-page .image img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.post-page .image .overlay-box {
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 10px;
    padding: 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
}

.post-page .image h1 {
    margin: 0;
    color: var(--typography-medium);
    text-align: center;
}

.post-page .info {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
    color: var(--typography-medium);
    margin: 0.5rem 0;
}

.post-page .glimpse {
    line-height: 1.2rem;
    color: var(--typography-high);
    margin-top: 3rem;
    font-size: 1.3rem;
}

.post-page .post-options {
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-bottom: 1.5rem;
}

.post-page .options-button {
    background-color: var(--elevation-200);
    color: var(--typography-high);
    padding: 0.9rem 1.4rem;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.post-page .options-button:hover {
    background-color: var(--elevation-300);
}

@media (max-width: 768px) {
    .post-page {
        text-align: center;
    }

    .post-page .image {
        min-height: 6rem;
    }

    .post-page .title {
        font-size: 2rem;
    }

    .post-page .glimpse {
        font-size: 0.9rem;
        line-height: 1.1rem;
        margin-top: 0;
    }

    .post-page .info {
        font-size: 0.8rem;
    }

    .post-page .post-options {
        gap: 2rem;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .post-page .options-button {
        padding: 0.5rem 0.7rem;
    }

    .post-page .image .overlay-box {
        padding: 0.4rem 0.5rem;
    }

    .post-page .image h1 {
        font-size: 1.4rem;
    }
}