.magic-element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.magic-element-container > .title,
.magic-element-container > .about {
    margin-top: 0;
    margin-bottom: 0;
}

.magic-element-container > .about,
.magic-element-container > .about2 {
    margin-top: 0.5rem;
    color: var(--typography-medium);
}

@media (max-width: 768px) {
    .magic-element-container > .title {
        font-size: 1.8rem;
    }

    .magic-element-container > .about,
    .magic-element-container > .about2 {
        text-align: center;
        font-size: 1.3rem;
    }
}