.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2.5rem;
}

.navbar a {
    cursor: pointer;
}

.navbar .logo {
    font-weight: bold;
    font-size: 3rem;
}

.navbar nav {
    display: flex;
    gap: 3.5rem;
    font-size: 2.1rem;
}

.navbar .welcome {
    font-weight: 100;
    margin: 0;
}

.navbar Link,
.navbar a,
.navbar .logo {
    transition: color 0.4s ease-in-out;
}

.navbar Link:hover,
.navbar a:hover,
.navbar .logo:hover {
    color: var(--typography-medium);
}

@media (max-width: 768px) {
    .navbar {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .navbar,
    .navbar nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar .logo {
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
    }

    .navbar .welcome {
        min-width: 100%;
        text-align: center;
        color: var(--typography-medium);
        font-size: 1.3rem;
    }

    .navbar a,
    .navbar Link
     {
        font-size: 1.7rem;
    }

    .navbar nav,
    .navbar .logo {
        gap: 0.5rem;
    }
}