.category-container {
    padding: 0.5rem;
}

.category-container > .title,
.category-container > .about {
    text-align: center;
    margin-bottom: 0.5rem;
}

.category-container > .about {
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--typography-medium)
}