.divinity-tier-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.divinity-tier-container > .title {
    margin-bottom: 0;
}

.divinity-tier-container > .about {
    margin-top: 0.5rem;
    color: var(--typography-medium);
}