.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar .logo {
    font-weight: bold;
    font-size: 3rem;
}

.navbar nav {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    font-size: 2rem;
}

.navbar nav Link,
.navbar nav a,
.navbar .logo {
    transition: color 0.5s ease;
}

.navbar nav Link:hover,
.navbar nav a:hover,
.navbar .logo:hover {
    transition: color 0.5s ease;
    color: var(--typography-medium);
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar nav,
    .navbar .logo {
        margin: 0 auto;
    }
}