.post {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    padding: 1rem;
    background-color: var(--elevation-150);
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.post:hover {
    background-color: var(--elevation-300);
    cursor: pointer;
}

.post h2 {
    margin: 0;
    font-size: 2rem;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: center center;
}

a {
    text-decoration: none;
    color: inherit;
}

.post .image {
    max-width: 225px;
    max-height: 225px;
}

.post .image img {
    max-height: 225px;
}

.post .text {
    max-width: 75%;
    height: auto;
    overflow: hidden;
}

.post .glimpse {
    overflow: hidden;
    max-height: 9rem;
    text-overflow: ellipsis;
}

.post .glimpse p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--typography-medium);
    line-height: 1.75rem;
    font-size: 1.4rem;
}

.post .info {
    margin: 0.5rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.post .info .category,
.post .info time {
    margin: 0;
    color: var(--typography-disabled);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;    
}

@media (max-width: 768px) {
    .post {
        flex-wrap: wrap;
        justify-content: center;
    }

    .post .image,
    .post .text {
        margin: 0;
        text-align: center;
        min-width: 100%;
    }

    .post .text .info {
        margin: 0.5rem auto;
        justify-content: center;
        gap: 0;
    }
}
